:root {
  --bg-color: white;
  --sec-bg-color: #808080;
  --text-color: black;
  --heading-color: black;
  --hover-color: rgba(255, 255, 255, 0.4);
}

body {
  font-family: "Lora", serif;
  background-color: var(--bg-color);
  margin: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: var(--heading-color);
}

@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }
}
